* {
    margin: 0px;
    padding: 0px;
}

a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

a:hover {
    color: blue;
}

body {
    background-color: aquamarine;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    background-color: gray;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
}

.navbar h1 {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: royalblue;
}

.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-self: end;

}
.nav-item{
    text-align: center;
}
.nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.nav-item a:hover {
    color: #3498db;
}

.show {
    margin-top: 10px;
    padding-right: 15px;
    background-color: teal;
    border: antiquewhite solid 10px;
}

.formC {
    display: flex;
    flex-flow: row wrap;
    width: 50vw;
}

.card-container {
    margin-left: 5%;
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 24vw;
    max-width: 350px;
    height: 40vh;
    background-color: teal;
    border: solid antiquewhite 10px;
    border-radius: 20px;
    margin: 15px;
    overflow: auto;
}

.sub-card {
    display: flex;
    flex-flow: column wrap;
}

.img {
    width: 100%;
    height: 50%
}

img {
    width: 100%;
    height: 100%;
}

p {
    padding: 5px;
}

.full {
    padding: 2px;
    width: 50%;
    overflow: auto;
    word-wrap: break-word;
}

.show-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 50vw;
    height: 80vh;
    background-color: teal;
    border: solid antiquewhite 10px;
    border-radius: 20px;
    margin: 15px;
    overflow: auto;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holder {
    width: 30vw;
    display: flex;
    justify-content: space-around;
}

.font-big {
    font-size: 5vw;
}

.formGr {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.show input[type=text] {
    width: 70%;
    border-radius: 3px;
}

textarea {
    border-radius: 5px;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}
.small{
    visibility: hidden;
    width:0%
}